body {
    background-color: black;
    color: white;
    font-size: 20px;
}
input.valid {
    background-color: lightgreen;
}
input.invalid {
    background-color: lightpink;
}
input.optional {
    background-color: lightgray;
}
span.hidden {
    display: none;
}
span.error {
    background-color: maroon;
    color: white;
    font-size: x-large;
}
span.subtext {
    font-size: 16px;
}
div#instructions {
    max-width: 600px;
}
input {
    width: 12ch;
    height: 2ch;
    font-family: 'Courier New';
    font-size: 16px;
    font-weight: bold;
    box-sizing: content-box;
}
table, td {
    border: 1px solid white;
    border-collapse: collapse;
}
td {
    width: 2ch;
    height: 2ch;
    text-align: center;
}
@media(max-width: 600px) {
    div.wrapper {
        display: grid;
        grid-template-rows: auto auto;
    }
}
@media(min-width: 600px) {
    div.wrapper {
        display: grid;
        grid-template-columns: 300px auto;
    }
}